@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap')

$logo-font: 'Indie Flower', cursive
$logo-color: #A18EF0
$light-blue: #55a5db
$orange: #F2994A
$paragraph-grey: #747474
$light-green: #27AE60
$red: #fa5d5d
$button-blue: #28a5ba

*
    box-sizing: border-box
    margin: 0
    padding: 0

p, h1, h2,h3,h4,h5,h6,span,button, a
    font-family: 'Heebo', sans-serif
    color: $paragraph-grey

// .image-sweet-header
//     max-width: 140px
//     max-height: 140px

// .image-sweet-card
//     max-width: 89px
//     max-height: 89px

// .image-sweet-detail
//     max-width: 302px
//     max-height: 369px

// .image-sweet-cart
//     max-width: 52px
//     max-height: 48px

// .image-cafe-

@mixin keyframes($animation-name)
    @-webkit-keyframes #{$animation-name}
        @content

    @-moz-keyframes #{$animation-name}
        @content

    @-ms-keyframes #{$animation-name}
        @content

    @-o-keyframes #{$animation-name}
        @content

    @keyframes #{$animation-name}
        @content

@mixin animation($str)
    -webkit-animation: #{$str}
    -moz-animation: #{$str}
    -ms-animation: #{$str}
    -o-animation: #{$str}
    animation: #{$str}

@include keyframes(slide-down)
  0%  
    opacity: 0
  100%  
    opacity: 1
